<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Dashboard</title>
</head>
<body class="bg-light">
    <div class="jumbotron bg-light">
        <div class="container">
            <div class="jumbotron bg-active">
                <h1 style="font-size:50px;">Welcome Admin</h1>
            </div style="overflow-x: auto;">
            <table class="table table-bordered table-striped table-responsive" data-link="row">
                <thead class="table-dark">
                    <tr>
                        <%- include('partials/tablehead')  %> 
                        <th colspan="4" scope="col" style="min-width: 35%;"></th>
                    </tr>
                </thead>
                <tbody style="cursor: pointer">
                <% if (data.length>0) { %>
                    <% data.forEach((user)=> { %> 
                    <tr class="font-weight-bold" onclick="window.location.assign('http://localhost:8000/dashboard/<%=user.id%>')">
                        <th scope="row"><%= user.id %> </th>
                        <td><%= user.username %> </td>
                        <td><%= user.email %> </td>
                        <td><%= user.password %> </td>
                        <td class="text-center"><%= user.console %> </td>
                        
                        <td class="text-center"><button type="button" class="btn btn-danger text-light btn-sm mb-3" style="width:10em" disabled>PROFILE</button>
                                                <button type="button" class="btn btn-primary btn-sm" style="width:10em" disabled>HISTORY</button></td>
                        <td class="text-center align-middle">
                            <form action="http://localhost:8000/dashboards/update/<%= user.id %>">
                                <input type="submit" value="UPDATE" class="btn btn-primary"/>
                            </form>
                        </td>
                        <td class="text-center align-middle">
                            <form method="post" action="http://localhost:8000/dashboards/delete/<%= user.id %>?_method=DELETE" >
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="submit" value="DELETE" class="btn bg-dark text-light"/>
                            </form>
                        </td>                                               
                    </tr>
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td colspan="5">NO USER FOUND</td>
                    </tr>
                <% } %> 
                </tbody>
            </table>
            <div>
                <%- include('partials/buttonnewuser')  %> 
            </div>
        </div>
    </div>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>  -->
</body>

</html>